<div class="content-body">

    <div class="heading_container heading_center" style="background-color: #4C4C6D; height: 150px;padding-top:2px;">
        <h2 style="text-align: center; padding-top: 50px; color: white;font-style:italic;font-size: 70px;">
            Pagos
        </h2>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header" >
                    <h2 style="text-align: center; padding-top: 20px;"> Administrador de Pagos</h2>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary btn-block"  data-toggle="modal" style="background-color: #85C1E9; border-color: #4C4C6D; color: white; font-size: large;"
                        data-target="#crearCuota">Nuevo Pago</button>
                </div>
                <div class="modal fade" id="crearCuota" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crear nuevo Pago</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="form">
                                    <div class="form-group">
                                        <input type="text" name="ID" formControlName="txtid"
                                            placeholder="Insertar un identificador del pago" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Descripción" formControlName="txtdescripcion"
                                            placeholder="Insertar una descripción del pago" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Costo" formControlName="txtcosto"
                                            placeholder="Insertar el costo del pago" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary" (click)="crearCuota()"
                                            data-dismiss="modal">Crear</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover bg-white">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Costo</th>
                        <th class="d-flex justify-content-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of cuotas">
                        <td>
                            {{i.cuo_id}}
                        </td>
                        <td>
                            {{i.cuo_descripcion}}
                        </td>
                        <td>
                            {{i.cuo_costo}}
                        </td>
                        <td class="d-flex justify-content-center">
                            <a class="btn btn-danger" (click)="eliminarCuota(i.cuo_id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a class="btn btn-success" data-toggle="modal" data-target="#actualizarCuota"
                                (click)="infoUpdateCuota(i.cuo_id,i.cuo_descripcion,i.cuo_costo)">
                                <i class="fas fa-edit"></i>
                            </a>

                            <div class="modal fade" id="actualizarCuota" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar Pago</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="form">
                                                <div class="form-group">
                                                    <label>
                                                        <h6>ID pago:{{informacionCuotas.cuo_id}}</h6>
                                                    </label>
                                                    <input type="text" name="Descripción del pago"
                                                        formControlName="txtdescripcion"
                                                        placeholder="{{informacionCuotas.cuo_descripcion}}"
                                                        class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="Costo del pago" formControlName="txtcosto"
                                                        placeholder="{{informacionCuotas.cuo_costo}}"
                                                        class="form-control">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="actualizarCuota(informacionCuotas.cuo_id)"
                                                        data-dismiss="modal">Actualizar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
