<div style="background-color: #85C1E9; border-color: #4C4C6D; color: white; font-size: large; text-align: center;">
    <h1>Contrataciones</h1>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/reservaciones/servicios/subServicio']">Contratación</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reservaciones/servicios/detalleServicio']">Detalle Contratación</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/reservaciones/servicios/tipoServico']">Tipo Contratación</a>
    </li>


</ul>
<router-outlet></router-outlet>
<br>