.button-container {
    margin-right: 10px;
    /* Ajuste el margen derecho según sea necesario */
    display: inline-block;
    /* Mostrar cada contenedor de botón en línea */
}

.modal-dialog {
    max-width: 600px;
    max-height: 400px;
}