<div class="col-md-12">

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearCliente">Nueva
        Tina</button> -->
    <br><br>

    <!--    
    probando
-->
    <div class="col-md-12">

        <p-table #dt [rows]="5" [value]="condominos" [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
            currentPageReportTemplate="Mostrando elementos {first} hasta {last} de {totalRecords} entradas totales"
            [showCurrentPageReport]="true" [globalFilterFields]="['per_id']">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>

                    <th>Cédula
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="per_id" display="per_id"></p-columnFilter>
                        </div>

                    </th>
                    <th>Nombres
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="per_nombres" display="per_nombres"></p-columnFilter>
                        </div>
                    </th>
                    <th>Apellidos
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="per_apellidos" display="per_apellidos"></p-columnFilter>
                        </div>
                    </th>
                    <th>Rol
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="rol_descripcion"
                                display="rol_descripcion"></p-columnFilter>
                        </div>
                    </th>
                    <th>Correo
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="res_correo" display="res_correo"></p-columnFilter>
                        </div>
                    </th>
                    <th>Teléfono
                        <div class="flex justify-content-center align-items-center">
                            <p-columnFilter type="text" field="res_telefono" display="res_telefono"></p-columnFilter>
                        </div>
                    </th>
                    <th>Opciones</th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rol>
                <tr>

                    <td>{{rol.per_id}}</td>
                    <td>
                        {{rol.per_nombres}}
                    </td>
                    <td>
                        {{rol.per_apellidos}}
                    </td>
                    <td>
                        {{rol.rol_descripcion}}
                    </td>
                    <td>
                        {{rol.res_correo}}
                    </td>
                    <td>
                        {{rol.res_telefono}}
                    </td>
                    <td>
                        <a class="btn btn-primary" (click)="updatetoCondomino(rol.res_id)">
                            <!-- <i class="fas fa-trash-alt"></i> -->
                            Reasignar a condómino
                        </a>

                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">

                </div>
            </ng-template>
        </p-table>
    </div>
    <!--    
probando
-->
</div>